
@import "bourbon/bourbon";

// Reset (on top of standard normalize.css)

html, body {
  margin: 0px;
  padding: 0px;
  height: 100%;
}

body {
  font-family: Verdana, Arial, Helvetica;
  font-size: 12px;
}

* { @include box-sizing(border-box); }
.introjs-helperNumberLayer { @include box-sizing(content-box); }

h1, h2, h3, h4, p, form, ul {
  margin: 0px;
  padding: 0px;
}

h1 {
  font-size: 30px;
  margin: 0.5em 0;
}

h2 {
  margin: 1em 0;
}

// Helpers

.three-columns {
  @include clearfix;
  > div {
    float: left;
    width: 33.3%;
    height: 100%;
    min-height: 1px;
  }
  > div:first-child { text-align: left; }
  > div:first-child + div { text-align: center; }
  > div:first-child + div + div { text-align: right; }
}

.tab-columns {
  @include clearfix;
  > div {
    float: left;
    height: 100%;
    min-height: 1px;
  }
  > div:first-child {
    text-align: left;
    width: 15%;
    // background: red;
  }
  > div:first-child + div {
    text-align: left;
    width: 57%;
  }
  > div:first-child + div + div {
    text-align: right;
    width: 28%;
    // background: blue;
  }
}

.clr {
  clear: both;
}

// Candidate UI

$grey1: #f5f6f7;
$grey2: #aaa;
$grey3: #777;
$codility-light-blue: #2b9cd9;

#page {
  min-height: 100%;
  position: relative;

  $header-height: 53px;
  // Standard padding used throughout the interface
  $padding: 10px;

  #header {
    padding: 0px;
    text-align: center;
    height: $header-height;

    .top-bar {
      height: 27px;
      line-height: 27px;
      vertical-align: middle;
      background: #222;
      color: #fff;
      > .passcode {
        padding-left: 1em;
        color: #999;
      }
      > .logos {
        > img {
          display: inline-block;
          margin-top: 2px;
          vertical-align: middle;
        }
        > span { // "for"
          color: #999;
          font-size: 10px;
          vertical-align: middle;
        }
        > .img-company-logo-small {
          height: 25px;
          margin-right: 10px;
        }
        > .test-logo {
          font-family: Droid Sans Mono, Courier, monospace;
          font-weight: bold;
          font-size: 21px;
          text-decoration: none;
          color: white;
          > span { color: $codility-light-blue; }
        }
      }
      #clock {
        font-size: 140%;
        padding: 5px $padding;
        &.introjs-showElement{
          color:black
        }
      }
    }

    .settings-bar {
      height: 25px;
      line-height: 25px;
      vertical-align: middle;
      padding: 0 $padding;
      border-bottom: 1px solid $grey2;

      background: $grey1;
      font-size: 80%;
    }

    .task-list {
      float: left;
      list-style-type: none;
      .task {
        cursor: pointer;
        float: left;
        margin: 0 .2em;
        padding: 0 1em;
         // Width hardcoded to match "Task N"; avoid jump between normal and bold
        width: 6.5em;
        text-align: center;
        // Hackity hack- simple tab look
        border: 1px solid $grey2;
        border-bottom: 0;
        border-radius: 5px 5px 0 0;
        height: 19px; // 2px gap intentional
        margin-top: 3px;
        line-height: 20px;
        &.active {
          background: white;
          font-weight: bold;
          // Simple tab look continued
          border-bottom: 1px solid white;
          height: 22px;
        }
        &.inactive {
          cursor: default;
          color: $grey2;
          font-style: italic;
        }
      }
      &.disabled .task {
        cursor: default;
        color: $grey2;
      }
    }
  }

  #content {
    @include position(absolute, $header-height 0px 0px 0px);
    min-height: 500px;

    $left-size: 40%;
    #task {
      @include position(absolute, 0px 100%-$left-size 0px 0px);
      padding: $padding;
      > div {
        height: 100%;
        position: relative;
        #task_description {
          overflow: auto;
          padding-right: $padding;

          position: relative;
          .placeholder {
            @include position(absolute, 0px 0px 0px 0px);
            margin: 75px 50px;
            padding: 10px;

            border: 5px dashed $grey2;
            border-radius: 10px;

            span {
              @include position(absolute, 40% 0px 0 0px);
              display: block;
              text-align: center;

              color: $grey2;
              font-size: 20px;
              font-weight: bold;
            }
          }
        }
        .under-task {
          // stick to bottom
          @include position(absolute, 0 0px 0px 0px);
          padding-top: $padding;
          #verification_results {
            max-height: 200px;
            overflow: auto;
          }
          #add_test_case {
            display: inline-block;
          }
        }
      }
    }

    #rightColumn {
      @include position(absolute, 0px 0px 0px $left-size);
      padding: $padding;
      > div {
        height:100%;
        position: relative;

        #edit {
          #solution {
            width: 100%;
          }

          #solution, .ace {
            border: 1px solid $grey2;
            border-bottom: none;
            margin: 0;
            height: 100%;
          }

          #solution, .ace {
            // Override default Ace styles
            font-family: Droid Sans Mono, Courier, monospace !important;
            font-size: 12px !important;
          }

          //diff engine css
          .highlight-changed-line{
              position:absolute;
              background:rgba(150, 200, 150, 0.2);
              z-index:20
          }
          .diff_widget_wrapper {
              background: inherit;
              color: inherit;
              border:none
          }
          .diff_widget {
              border-top: solid 2px;
              border-bottom: solid 2px;
              margin: 5px 0;
              padding: 1px 0px 1px 50px;
              white-space: pre-wrap;
          }
          .diff_widget.diff_widget_default, .diff_widget_arrow.diff_widget_default{
              border-color: #fff0f0
          }
          .diff_widget_arrow {
              position: absolute;
              border: solid 5px;
              border-top-color: transparent!important;
              border-right-color: transparent!important;
              border-left-color: transparent!important;
              top: -5px;
          }
          //end of diff engine css
        }
        #reset_btn {
          position: absolute;
          top: 0;
          right: 0;
          margin: $padding;
        }

        .under-edit {
          // stick to bottom
          @include position(absolute, 0 0px 0px 0px);
          #editor_bar {
            /* Give enough space to prevent glitches */
            line-height: 15px;
            border: 1px solid $grey2;
            border-top: none;
            padding: 2px 5px;
            color: $grey3;
            background-color: $grey1;
            a, a:visited {
              color: $grey3;
            }
          }

          .buttons-toolbar {
            margin: 10px 0;
            input {
              margin: 0 1em;
            }
          }
          #resize_console_button {
            float: right;
            margin-top: -25px;
          }

          #console {
            height: 200px;
            font-family: Droid Sans Mono, Courier, monospace;
            font-size: 12px;
            overflow: auto;
            padding: 5px;
            border: 1px solid $grey2;
            background: $grey1;

            &.maximized{
              height: 400px;
            }

            a, a:visited {
              color: inherit;
            }

            // Easter eggs
            .quote {
              color: blue;
              font-style: italic;
              margin-top:0.75em;
              float:right;
            }
          }
        }
      }
    }
  }
}


// Modals

.jqmWindow {
  position: absolute !important;
  // default is fixed, but that prevents modals from scrolling on tiny screens

  padding: 40px !important;
  text-align: center;

  @include box-sizing(content-box);
  * { @include box-sizing(content-box); }
  button, input, select { @include box-sizing(border-box); }

  .message {
    padding-bottom: 20px;
    font-size: 120%;
    background: none;
    border: none;
  }

  .dialog_buttons {
    text-align: center;
    input {
      border: 1px solid #aaa;
      border-radius: 5px;
      padding: .6em;
      margin-left: 20px;
      margin-right: 20px;
      font-size: 150%;
    }
  }

  // Forms

  form th {
    text-align: right;
  }

  form th, form td {
    padding: 4px 0;
  }

  form ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
  }

  form li {
    list-style-type: none;
  }

  div.errmsg {
    color: red;
    background: pink;
    border: 1px solid red;
    font-weight: bold;
    padding: 5px;
    margin-top: 1em;
    margin-bottom: 1em;
  }

  .errorlist {
    color: #f00;
    font-weight: bold;
  }

  .errorlist li {
    list-style: none;
  }

}

// Survey form

#survey_form > table {
  width: 100%;
}

#survey {
  .choice_answer_label_left {
    max-width: 120px;
    text-align: right;
  }
  .choice_answer_label_right {
    max-width: 120px;
    text-align: left;
  }
  .choice_answer_radio {
    min-width: 30px;
    max-width: 40px;
    text-align: center;
  }
  tbody.hidden_part {
    display: none;
  }
  .question_spacer {
    height: 2em;
  }

  .dialog_buttons {
    text-align: right;
  }
  #survey_skip_button {
    font-size: 120%;
    float: left;
    margin-top: 5px;
  }
}

// Anti-cheating

@media print {
    #brinza-task-description { display: none; }
}

.transparent {
    /* Theoretically for IE 8 & 9 (more valid) */
    /* ...but not required as filter works too */
    /* should come BEFORE filter */
    -ms-filter:"progid:DXImageTransform.Microsoft.Alpha(Opacity=50)";

    /* This works in IE 8 & 9 too */
    /* ... but also 5, 6, 7 */
    filter: alpha(opacity=0.55);

    /* Older than Firefox 0.9 */
    -moz-opacity:0.99;

    /* Safari 1.x (pre WebKit!) */
    -khtml-opacity: 0.99;

    /* Modern!
    /* Firefox 0.9+, Safari 2?, Chrome any?
    /* Opera 9+, IE 9+ */
    opacity: 0.99;
}

#t_overlay {
    position:absolute;
    top:0;
    left:0;
    right:0;
    bottom:0;
    z-index:9900;
    display:block;
    background-color:#f0f0f0;
}

.protected {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.protected tt, .protected span.number {
    -webkit-touch-callout: text;
    -webkit-user-select: text;
    -khtml-user-select: text;
    -moz-user-select: text;
    -ms-user-select: text;
    user-select: text;
}
.num { z-index:9998;position:absolute;top:0px;left:0px;margin:0px;}
