{% load compress %}

{% comment %}

  This is the <head> part of candidate UI.

  Static assets have to either be in a {% compress %} block, or
  include ?{{ VERSION }} (for cache busting).

{% endcomment %}

<meta http-equiv="Content-type" content="text/html;charset=UTF-8" />
<meta charset="utf-8">
<title>{{ title|default:"Codility" }}</title>
<link rel="shortcut icon" href="{{ STATIC_URL }}favicon{% if DEBUG %}_debug{% endif %}.ico">

{# CSS #}

{% compress css %}
  <link rel="stylesheet" href="{{ STATIC_URL }}css/normalize.css"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}css/candidate.scss" type="text/x-scss"/>
  <link rel="stylesheet" href="{{ STATIC_URL }}vendor/jquery/jquery.jqModal.css"/>
{% endcompress %}
{% if in_test %}
  <link rel="stylesheet" href="{{STATIC_URL}}vendor/jasmine-2.0.0/jasmine.css?{{ VERSION }}" />
{% endif %}


{# Vendor JS #}

{% compress js %}
  <script src="{{ STATIC_URL }}jquery_ui/jquery-1.10.2.js"></script>
  <script src="{{ STATIC_URL }}jquery_ui/jquery-migrate-1.2.1.js"></script>

  <script src="{{STATIC_URL}}vendor/jquery/jquery.jqModal.js"></script>
  <script src="{{STATIC_URL}}vendor/jquery/jquery.dimscreen.js"></script>

  <script src="{{ STATIC_URL }}vendor/webfont/webfont.js"></script>

  <script src="{{ STATIC_URL }}vendor/raven/raven-jquery-native.min.js"></script>
{% endcompress %}

{# WARNING: Ace has to remain outside compress, because it depends on the file path. #}
<script src="{{STATIC_URL}}vendor/ace-src-noconflict/ace.js?{{ VERSION }}"></script>
<script src="{{STATIC_URL}}vendor/ace-src-noconflict/ext-language_tools.js?{{ VERSION }}"></script>


{# Codility JS #}

{% compress js %}
  <script src="{{ STATIC_URL }}js/compat.js"></script>
  <script src="{{STATIC_URL}}js/codility_logger.js"></script>
  <script src="{{ STATIC_URL }}js/codility.js"></script>

  <script src="{{STATIC_URL}}js/candidate/console.js"></script>
  <script src="{{STATIC_URL}}js/candidate/diff.js"></script>
  <script src="{{STATIC_URL}}js/candidate/testcases.js"></script>
  <script src="{{STATIC_URL}}js/candidate/help.js"></script>
  <script src="{{STATIC_URL}}js/candidate/editor.js"></script>
  <script src="{{STATIC_URL}}js/candidate/candidate_ui.js"></script>
  <script src="{{STATIC_URL}}js/candidate/clock.js"></script>
  <script src="{{STATIC_URL}}js/candidate/tracker.js"></script>
  <script src="{{STATIC_URL}}js/candidate/utils.js"></script>
  <script src="{{STATIC_URL}}js/candidate/survey.js"></script>
  <script src="{{STATIC_URL}}js/candidate/diff_engine.js"></script>

  <script src="{{STATIC_URL}}js/candidate/test-server.js"></script>
  <script src="{{STATIC_URL}}js/candidate/local-server.js"></script>
{% endcompress %}


{# Tests #}

{% if in_test %}
  <script src="{{STATIC_URL}}vendor/jasmine-2.0.0/jasmine.js?{{ VERSION }}"></script>
  <script src="{{STATIC_URL}}vendor/jasmine-2.0.0/jasmine-html.js?{{ VERSION }}"></script>
  <script src="{{STATIC_URL}}vendor/jasmine-2.0.0/boot.js?{{ VERSION }}"></script>

  <script src="{{STATIC_URL}}vendor/sinon/sinon-1.8.2.js?{{ VERSION }}"></script>

  <script src="{{STATIC_URL}}js/candidate/tests.js?{{ VERSION }}"></script>
{% endif %}


{# Local server #}

{% if in_local %}
  <script src="{{STATIC_URL}}vendor/sinon/sinon-1.8.2.js?{{ VERSION }}"></script>
{% endif %}


{# Fonts #}

{% if ALLOW_EXTERNAL_CONTENT %}
  <script>
    WebFont.load({
        google: {
            families: ['Droid Sans Mono']
        }
    });
  </script>
{% endif %}


{# Production-only code #}

{% if not in_devel %}
  {# Google Analytics #}
  <meta name="google-site-verification" content="9v164Z_rpdjfMPb9gqiXp6m3zBjJVhoZTwvA3Qj0eIc" />
  {% include "google-analytics-async.html" %}

  {# Logging #}
  {% include "install-loggers.html" with candidate=True %}
{% endif %}
