<!DOCTYPE html>
<html>

<head>
  {% include "cui/_head.html" %}
</head>

<body style="padding: 2em">

  <h1>It works!</h1>

  <div class="tree-editor"></div>

  <input type="button" class="undo" value="Undo" style="padding: 1em 2em" />
  <div class="warning-area"></div>

  <script>
    var tree_editor;
    $(function() {
        tree_editor = TreeEditor($('.tree-editor'), $('.undo'), $('.warning-area'));

        var tree_string = '(25, (1999999, (1222222, (4, None, None), None), (2222222, None, (23, None, None))), (37, (29, None, (30, None, None)), None))';
        var tree = InputData.parse_tree(tree_string);
        tree_editor.enable_bst_warning();
        tree_editor.set_tree(tree);
    });
  </script>

</body>
