<!DOCTYPE html>
<html>

<head>
  {% include "cui/_head.html" %}
</head>

<body>

  <h1>It works!</h1>

  <div class="tree-editor"></div>

  <script>
    var tree_editor;
    $(function() {
        tree_editor = TreeEditor($('.tree-editor'));

        var tree_string = '(25, (1999999, (1222222, (4, None, None), None), (2222222, None, (23, None, None))), (37, (29, None, (30, None, None)), None))';
        var tree = Trees.parse_tree(tree_string);
        tree_editor.set_tree(tree);
    });
  </script>

</body>
